.head {
  background-color: #191970;
  color: white;
}

.task {
  background-color: #778899;
  &:hover {
    color: white;
    background-color: #808080;
  }
}

.edit {
  background-color: #FAEBD7;
}
